@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.about-cta-base {
  @apply h-32 w-60 rounded-xl;

  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(16, 16, 16, 0.12 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
}

.about-cta-link {
  @apply h-32 w-60 p-6 flex flex-col items-center justify-center rounded-xl text-2xl text-white font-medium transform -translate-x-8 -translate-y-24 group-hover:-translate-x-0 group-hover:-translate-y-32 transition duration-500;

  background-image: linear-gradient(to top, #94BCA6 0%, #8AB8A1 100%);
}

.about-cta-button {
  @apply flex items-center justify-end rounded-br-2xl rounded-bl-2xl md:rounded-bl-none md:rounded-tr-2xl;
}

.about-cta-button-bg {
  @apply w-fit h-fit p-1 border rounded-2xl group-hover:-rotate-45 transition border-x-white/50 group-hover:border-foreground/5;
}

.about-cta-icon {
  @apply size-8 p-0 bg-white rounded-xl transition-all duration-500 group-hover:rounded-[48px];

  box-shadow: 0 8px 32px 0 rgba(16, 16, 16, 0.15);
}

.footer-cta {
  @apply w-11/12 max-w-screen-md mx-auto -mt-24 lg:-mt-28 rounded-2xl flex flex-col md:flex-row justify-between;

  background-color: #8AB8A1;
  box-shadow: 0 8px 32px 0 rgba(16, 16, 16, 0.25);
}

.footer-cta-button-bg {
  @apply w-full md:w-1/4 md:max-w-48 flex items-center justify-center p-8 rounded-br-2xl rounded-bl-2xl md:rounded-bl-none md:rounded-tr-2xl;
  
  background-color: #E6D3A3;
}

.footer-cta-button {
  @apply size-12 lg:size-14 p-0 bg-white rounded-xl transition-all duration-500 group-hover:rounded-[48px];

  box-shadow: 0 8px 32px 0 rgba(16, 16, 16, 0.15);
}